@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our Blood Donor Management System... Donate blood, save lives.</p>
    <p> Our mission is to connect blood donors with those in need,
    making the process of donating blood as seamless and easy as possible. With our user-friendly platform,
        you can quickly register as a donor or search for donors by location and blood type. We prioritize safety
        and confidentiality, ensuring that all donor and recipient information is kept secure.
    <p>Thank you for joining us in our efforts to save lives through blood donation !</p>
</div>
